docs/n8n-workflow-example.json
{
  "name": "Generate Ad with KIE.AI Nano Banana Pro",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-ad",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "On form submission",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "generate-ad-webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.imgbb.com/1/upload",
        "authentication": "none",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "={{ $env.IMGBB_API_KEY }}"
            },
            {
              "name": "image",
              "value": "={{ $json.body.image }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "get-url",
      "name": "Get URL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [450, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/image/edit",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.KIE_AI_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={\n  \"model\": \"nano-banana-pro\",\n  \"prompt\": \"{{ $('On form submission').item.json.body.prompt }}\",\n  \"image_url\": \"{{ $json.data.url }}\",\n  \"negative_prompt\": \"blurry, low quality, distorted\",\n  \"width\": 1024,\n  \"height\": 1024,\n  \"num_inference_steps\": 20,\n  \"guidance_scale\": 7.5\n}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "edit-image",
      "name": "Edit Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [650, 300]
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "seconds"
      },
      "id": "wait1",
      "name": "Wait1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.kie.ai/api/v1/jobs/{{ $('Edit Image').item.json.job_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.KIE_AI_API_KEY }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "get-image1",
      "name": "Get Image1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "success-rule",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "completed",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "success"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "generating-rule",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "processing",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "or",
                "conditions": [
                  {
                    "id": "generating-rule-2",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "generating",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "generating"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "fail-rule",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "failed",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "or",
                "conditions": [
                  {
                    "id": "fail-rule-2",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "error",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "fail"
            }
          ]
        },
        "options": {}
      },
      "id": "switch1",
      "name": "Switch1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"success\": true,\n  \"image_url\": $('Get Image1').item.json.result.image_url,\n  \"job_id\": $('Get Image1').item.json.job_id,\n  \"metadata\": $('Get Image1').item.json.result.metadata\n} }}",
        "options": {}
      },
      "id": "result1-success",
      "name": "Result1 (success)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1450, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"success\": false,\n  \"error\": $('Get Image1').item.json.error,\n  \"job_id\": $('Get Image1').item.json.job_id\n} }}",
        "options": {}
      },
      "id": "result1-fail",
      "name": "Result1 (fail)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1450, 400]
    }
  ],
  "connections": {
    "On form submission": {
      "main": [[{ "node": "Get URL", "type": "main", "index": 0 }]]
    },
    "Get URL": {
      "main": [[{ "node": "Edit Image", "type": "main", "index": 0 }]]
    },
    "Edit Image": {
      "main": [[{ "node": "Wait1", "type": "main", "index": 0 }]]
    },
    "Wait1": {
      "main": [[{ "node": "Get Image1", "type": "main", "index": 0 }]]
    },
    "Get Image1": {
      "main": [[{ "node": "Switch1", "type": "main", "index": 0 }]]
    },
    "Switch1": {
      "main": [
        [{ "node": "Result1 (success)", "type": "main", "index": 0 }],
        [{ "node": "Wait1", "type": "main", "index": 0 }],
        [{ "node": "Result1 (fail)", "type": "main", "index": 0 }]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}

